body {
  margin: 0;
  padding: 1rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.grid {
  padding: 0.5rem 0.75rem;
  display: grid;
  grid-template-columns: 12.5rem auto;
  border-top: 1px solid black;
}
.cat {
  cursor: pointer;
  padding: 0.5rem 0;
}
.subcat {
  padding: 0.25rem 0 0.5rem 0;
  border-bottom: 1px solid black;
  line-height: 160%;
}
.searchbox {
  padding: 1rem 0;
}
